@import 'base/base';

$primary: #04AA51;
$primary-hover: #087038;

button,
.btn {
  background: #04AA51;
  line-height: 70px;
  height: 70px;
  border: none;
  width: 300px;
  max-width: 90%;
  color: #fff;
  font-size: 2em;
  font-weight: 900;
  border-radius: 60px;
  cursor: pointer;

    &:hover {
      background: #0f8c49
    }
}
@media screen and (max-width: 480px) {
  button {
    background: #04AA51;
    line-height: 40px;
    height: 40px;
    border: none;
    width: 200px;
    max-width: 90%;
    color: #fff;
    font-size: 1em;
    font-weight: 900;
    border-radius: 60px;
    cursor: pointer;
  }
}

[v-cloak] {
  display: none
}
