@import 'base/base';

$primary: #04AA51;
$primary-hover: #087038;

button {
  background: #04AA51;
  line-height: 50px;
  height: 50px;
  border: none;
  width: 250px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 900;
  border-radius: 4px;
  cursor: pointer;

    &:hover {
      background: #0f8c49
    }
}

[v-cloak] {
  display: none
}
